@import url(./reset.css);

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    display: flex;
	flex-direction: column;
}
.content {
    flex: 1 1 auto;
}
.hi{
    padding: 50px 0;
    background-color: #445162;
}
.container {
    max-width: 1180px;
	margin: 0px auto;
}
.hello_row {
    display: flex;
	justify-content: space-between;
}
.hello_text {
    color: #ffffff;
	padding: 0px 20px 0px 0px;
}
.hello_title {
    margin: 0px 0px 40px 0px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 60px;
}
.hello_list li{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 36px;
	background: url('../img/icons/icon.png') 0 1px no-repeat;
	font-size: 20px;
}
.hello_list:last-child{
    margin: 0;
}

footer{
    background-color: #f5f5f5;
}

.footer_row {
    display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}

.footer_text {
    color: #445162;
	font-size: 12px;
	letter-spacing: 0.3px;
}

.what_flex{
    padding: 50px 0;
}
.what_is_it_row {
    display: flex;
}
.what_is_it_row img{
    flex: 0 0 430px;
}
.what_text {
    flex: 1 1 auto;
	padding: 0px 0px 0px 38px;
}
.what_title {
    margin: 0px 0px 35px 0px;
}
.what_text p{
    font-size: 16px;
	color: #333;
	line-height: 24px;
    margin: 0px 0px 15px 0px;
}
.what__text:last-child{
	margin: 0;
}
.title {
	color: #445161;
	font-size: 30px;
}

.columns {
	background-color: #f5f5f5;
	padding: 50px 0 20px 0;
}
.containers_title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}
.columns_row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}
.column {
	flex: 0 1 50%;
	padding: 0px 8px;
	margin: 0px 0px 30px 0px;
}

.item_row {
	display: flex;
}
.item_img {
	flex: 0 0 200px;
}
.item_body {
	padding: 0px 0px 0px 15px;
	flex: 1 1 auto;
}
.item_title {
	color: #445161;
	font-size: 24px;
	margin: 0px 0px 15px 0px;
}
.item_text {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.vertical {
	padding: 50px 0;
}
.vertical_title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.vertical_body {
	max-width: 990px;
	margin: 0px auto;
}
.vertical_row {
	display: flex;
	margin: 0px -22.5px;
}

.vertical_column {
	padding: 0px 22.5px;
	flex: 0 1 33.333%;
	display: flex;
}

.vertical_item {
	background-color: #445162;
	border-radius: 5px;
	color: #fff;
	border: 1px solid #445162;
	display: flex;
	flex-direction: column;
	padding: 0px 0px 20px 0px;
}
.subtitle {
	text-align: center;
	padding: 15px 0;
	font-size: 24px;
	text-transform: uppercase;
}
.label {
	text-align: center;
	background-color: #fff;
	padding: 12px 0;
	color: #445162;
	font-size: 40px;
}
.vertical_text {
	padding: 20px;
	font-size: 16px;
	line-height: 24px;
	flex: 1 1 auto;
}
.vertical_text p{
	margin: 0px 0px 15px 0px;
}
.vertical_text p:last-child{
	margin: 0;
}

.btn {
	display: block;
	margin: 0px 20px;
	text-align: center;
	line-height: 40px;
	background-color: #fff;
	border-radius: 5px;
	color: #445161;
	font-size: 18px;
}